

.navbar {
    background-color: #575757;
    color: #ffffff;
    text-align: left;
    overflow: hidden;
  
}

.navbar .navbar-brand {
    color: #efefef;
    text-align: right;
    font-weight: bold;
    justify-content: left;
}

.navbar .navbar-brand:hover {
    color: #696969;
}

.navbar .nav-item .nav-link{
    color: #ffffff;
    margin: 0;
    font-weight: bold;
    text-align: justify;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}

.navbar .nav-item .nav-link:hover {
    color: #696969;
}
