
<img id="banner" src="assets/img/banner_dishes.jpg" width=100% height=auto/>


<nav class="navbar sticky-top navbar-dark navbar-expand-md">
    <a routerLink="/" class="navbar-brand">
        <img src="assets/img/brand.JPG" width="65" height="71.2%" alt="logo">
    </a>

    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse">
        <div class="navbar" [ngbCollapse]="isCollapsed" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a routerLink="/recipes" class="nav-link" (click)="isCollapsed = true">Recipes</a> <!-- TO DO: Add different categories to menu item -->
                </li>
                <li class="nav-item">
                    <a  class="nav-link" (click)="isCollapsed = true">Login</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" (click)="isCollapsed = true">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" (click)="isCollapsed = true">About</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input id="search" class="form-control mr-sm-2" type="search" 
                placeholder="Search Community Kitchen" onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Search Community Kitchen'">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
