<h3>Filter Recipes</h3>

<div class="row">
    <div class="col md-12">
        <div class="tag-content">
            <button class="tag-button" (click)="filterOnClick($event)">
                <i class="fas fa-tags"></i>asian</button>
            <button class="tag-button" (click)="filterOnClick($event)">
                <i class="fas fa-tags"></i>german</button>
            <button class="tag-button" (click)="filterOnClick($event)">
                <i class="fas fa-tags"></i>french</button>
            <button class="tag-button" (click)="filterOnClick($event)">
                <i class="fas fa-tags"></i>italian</button>
            <button class="tag-button" (click)="filterOnClick($event)">
                <i class="fas fa-tags"></i>latin</button>
            <button class="tag-button" (click)="filterOnClick($event)">
                <i class="fas fa-tags"></i>other</button>
        </div>
    </div>
</div>
