/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

:host {

    box-sizing: border-box;

    margin: 0;
    background-color: var(--lightgrey);

    --lightgrey: #efefef;
    --lightgreen: #6ee295;
    --darkgreen: #2e8f5c;
    --darkgrey: #575757;
}

.btn-secondary {
    background-color: #2e8f5c !important;
    color: #efefef !important;
}

.btn-secondary:hover {
    background-color: #575757 !important;
}

.link {
    color: black;
    text-decoration: none;
}

.link:hover {
    color: var(--darkgrey);
    text-decoration: none;
}

.page-header {
    text-align: center;
    text-transform: uppercase;
    background-color: #575757;
    color: #efefef;
    padding: 4px;
    position: static;
    position: -webkit-sticky; /* Safari */
    
}


.container-link {
    margin-left: 25%;
    width: 50%;
    color: black;
    margin-bottom: 5%;
}